html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

.WHOLE-PAGE-LAYOUT {
  display: grid;
  grid-template-rows: 15% auto;
}

.book-display-container {
  width: 99.3554vw;
  height: 100vh;
}

.book-display {
  background-color: gray;
  font-size: 1.5rem;
  padding: 10px;
}

.book-container {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.book-container p {
  margin: 5px 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 10vw;
}

input {
  margin-bottom: 30px;
  border-radius: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;  
}

.new-book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: lightgray;
}

#new-book {
  width: 7vw;
  height: 2.5vh;
  border-radius: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  position: absolute;
  left: 80vw;
}

.form-container {
  display: none; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background: white; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
}

.checkbox-container {
  display: flex;
}

.checkbox-container input[type="checkbox"] {
  margin-left: 10px; 
  order: 2; 
}

#add-book-button {
  border-radius: 10px;  
}